.trending-container {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.headings {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headings button {
  outline: none;
  border: none;
  font-size: medium;
  font-weight: bold;
  padding: 0.8rem 1.2rem;
  background-color: rgba(255, 255, 255, 0.04);
  border-radius: 0.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.headings button:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.105);
}

.headings h2 {
  text-align: left;
  color: white;
}

.category-list {
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
  overflow: auto;
  padding-bottom: 10px;
}

.category {
  min-width: 15.5%;
  flex: 0 0 auto;
}

@media (max-width: 767px) {
  .trending-container {
    padding: 1rem;
  }
}